# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual environments
venv/
.env

# Node
node_modules/

# Build / output
dist/
out/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
